.git
.gitignore
.env
.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
README.md
*.md
Dockerfile
docker-compose.yml
.dockerignore
.idea
.vscode
bootstrap/cache/*
